@import '_mixins';
%full-height {
  width: 100%;
  @include screenUp(md) {
    overflow: hidden;
    height: 100%;
  }
}

html {
  @extend %full-height;
  @include flex(flex-start, stretch, row);
  body {
    @extend %full-height;
    height: 100%;
    .grid-container {
      @extend %full-height;
      @include flex(center, center, column);
      .navbar {
        width: 100%;
        background-color: #4160ae;
        .nav {
          a {
            color: white;
          }
        }
      }
      .vertical-split {
        @extend %full-height;
        @include flex(center, center, column);
        order: 2;
        @include screenUp(md) {
          @include flex(flex-start, stretch, row);
        }
        &.master-background {
          @include screenUp(md) {
            background-image: url("../images/jumbo-large.jpg");
          }
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .side {
          @extend %full-height;
          @include flex(flex-start,
          stretch,
          row);
          &.left {
            .jumbotron {
              width: 100%;
              margin: 0;
              padding: 0;
              border-radius: 0;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              background-image: url(../images/jumbo-bg.jpg);
              @extend %full-height;
              @include screenUp(md) {
                overflow-y: auto;
              }
              .jumbotron-overlay {
                @extend %full-height;
                background-color: rgba(96, 131, 218, .9);
                background-attachment: fixed;
                .container-padding {
                  padding: 3rem 1.5rem;
                }
              }
            }
          }
          &.right {
            .content-area {
              margin: 0;
              @extend %full-height;
              @include flex(flex-start,
              center,
              column);
              .content-wrap {
                width: 100%;
                padding: 3rem 1.5rem;
                @include screenUp(md) {
                  overflow-y: auto;
                }
              }
              .navbar {
                width: 100%;
                background-color: #4f70c3;
                .nav {
                  a {
                    color: white;
                  }
                }
              }
            }
            .pagination-bar {
              width: 100%;
              background-color: #5476cc;
              padding: 7px 0;
              .steps {
                a {
                  background: rgb(235, 235, 235);
                  height: 10px;
                  width: 10px;
                  border-radius: 50px;
                  display: block;
                  &.active,
                  &.visited {
                    background: white;
                  }
                }
              }
            }
          }
          .transparent-background {
            @include screenUp(md) {
              background: none !important;
            }
          }
        }
      }
      footer {
        order: 4;
        background-color: #3b5aa7;
        color: #fff;
        @include flex(center,
        center,
        row);
        width: 100%;
        padding: 5px 0;
      }
    }
    .customiser {
      position: fixed;
      z-index: 99999;
      right: -250px;
      top: 0;
      @include screenUp(md) {
        top: 112px;
      }
      width: 250px;
      background-color: #fbfbfb;
      border: 1px solid #eee;
      &.is-toggled {
        right: 0;
      }
      .customiser-wrap {
        padding: 20px;
        position: relative;
        .customiser-body {
          h6 {
            font-size: 14px;
          }
          .btn-sm {
            padding: 2px 7px 2px;
            font-size: 13px;
          }
        }
        .customiser-toggle {
          position: absolute;
          top: 0;
          left: -32px;
          cursor: pointer;
          @include flex(center,
          center,
          row);
          background-color: #000;
          color: 000;
          padding: 8px;
          transition: all .2s;
          &:hover {
            opacity: .9;
          }
          i {
            color: rgba(96, 131, 218, 0.9);
          }
        }
      }
    }
  }
}