@import '_mixins';
%full-height {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  @extend %full-height;
  @include flex(flex-start, stretch, row);
  body {
    @extend %full-height;
    height: 100%;
    .grid-container {
      @extend %full-height;
      @include flex(center, center, column);
      .navbar {
        width: 100%;
        .nav {
          a {
            color: white;
          }
        }
      }
      .vertical-split {
        @extend %full-height;
        @include flex(cener, center, column);
        order: 2;
        @include screenUp(md) {
          @include flex(flex-start, stretch, row);
        }
        .side {
          @extend %full-height;
          @include flex(flex-start, stretch, row);
          &.left {
            .jumbotron {
              width: 100%;
              margin: 0;
              padding: 3rem 1.5rem;
              background-position: center;
              overflow-y: auto;
            }
          }
          &.right {
            .content-area {
              margin: 0;
              @extend %full-height;
              @include flex(flex-start, center, column);
              .content-wrap {
                overflow-y: auto;
                width: 100%;
                padding: 3rem 1.5rem;
              }
              .navbar {
                width: 100%;
                .nav {
                  a {
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
      footer {
        order: 4;
        background: #000;
        color: #fff;
        @include flex(center, center, row);
        width: 100%;
        padding: 5px 0;
      }
    }
    .customiser {
      position: absolute;
      z-index: 99999;
      right: 0;
      top: 200px;
      width: 300px;
      padding: 20px;
      background: #eee;
    }
  }
}
