@import '_mixins';
%full-height {
  width: 100%;
  @include screenUp(md) {
    overflow: hidden;
    height: 100%;
  }
}

html {
  @extend %full-height;
  @include flex(flex-start, stretch, row);
  body {
    @extend %full-height;
    height: 100%;
    .grid-container {
      @extend %full-height;
      @include flex(center, center, column);
      .navbar {
        width: 100%;
        .nav {
          a {
            color: white;
          }
        }
      }
      .vertical-split {
        @extend %full-height;
        @include flex(center, center, column);
        order: 2;
        @include screenUp(md) {
          @include flex(flex-start, stretch, row);
        }
        .side {
          @extend %full-height;
          @include flex(flex-start, stretch, row);
          &.left {
            .jumbotron {
              width: 100%;
              margin: 0;
              padding: 3rem 1.5rem;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              @include screenUp(md) {
                overflow-y: auto;
              }
            }
          }
          &.right {
            .content-area {
              margin: 0;
              @extend %full-height;
              @include flex(flex-start, center, column);
              .content-wrap {
                width: 100%;
                padding: 3rem 1.5rem;
                @include screenUp(md) {
                  overflow-y: auto;
                }
              }
              .navbar {
                width: 100%;
                .nav {
                  a {
                    color: white;
                  }
                }
              }
            }
          }
        }
      }
      footer {
        order: 4;
        background: #000;
        color: #fff;
        @include flex(center, center, row);
        width: 100%;
        padding: 5px 0;
      }
    }
    .customiser {
      position: fixed;
      z-index: 99999;
      right: -250px;
      top: 112px;
      width: 250px;
      background: #eee;
      &.is-toggled {
        right: 0;
      }
      .customiser-wrap {
        padding: 20px;
        position: relative;
        .customiser-toggle {
          position: absolute;
          top: 0;
          left: -32px;
          @include flex(center, center, row);
          background: #000;
          color: 000;
          padding: 8px;
        }
      }
    }
  }
}
